*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* footer support */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 auto;
  background-color: #f0eef1;
  /* footer support */
  margin-bottom: 100px;
}

header {
  background-color: #fffbfb;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border:none;
}
header button,
main button {
  background-color: #f0eef1;
  font-size: 24px;
  padding: 10px;
  cursor:pointer;
  border-radius: 8px;
  border:none;
  font-weight: 600;  
}
button:hover {
  filter: brightness(90%);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  text-align: center;
  margin-top: 40px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 24px;
}
/*.modal {
  display:none;
}*/


form {
  position: fixed;
  top: 30%;
  left: 40%;
  width: 300px;
  margin: 0 auto;
  background-color: #f0eef1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  border-radius: 8px;
  border: none;
  justify-content: center;
  align-items: center;
  display: none;
  flex-direction: column;
  gap: 20px;
  z-index: 1;  
}
input {
  background-color: #fffbfb;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px;
  border-color: transparent;
  width: 100%;
  outline: none;
}
form h3 {
  font-size: 24px;
}

.isRead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.isRead input {
  padding: 0;
  width: 20px;
  height: 20px;
  accent-color: white;
}

.isRead label {
  font-size: 18px;
  width: 100%;
}

form button {
  background-color: #9fff9c;
  width: 100%;
  padding: 5px;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.active {
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0,0,0,0.5);
}